<section class="direction">
    <div class="container">
        <div class="direction__wrap">
            <h1 class="direction__title">jazz - funk</h1>
            <div class="direction__info-wrap">
                <div class="direction__image">
                    <img src="../img/general/direction_style.png" alt="jazz - funk style image">
                </div>
                <div class="direction__decr">
                    <h2 class="direction__descr-title">Джаз - фанк</h2>
                    <p class="direction__descr-text">
                        Неймовірно модний напрямок, що набув популярності завдяки шоубізнесу. Це абсолютно вільний
                        стиль, що не заперечує ніяких інших напрямків. Джаз-фанк запозичив найліпші манери з кожного
                        танцювального стилю. Проте його можна впізнати за виразними різкими рухами, що поволі
                        перетворюються на м’які. Танцівник самовиражається через композицію, демонструючи емоції та
                        імпровізаційні здібності. Такої майстерності дитина досягне завдяки заняттям у нашій студії А6
                        Satellite.
                    </p>
                </div>
            </div>
        </div>
        <div class="direction__test">
            <h3 class="direction__test-title">Запис на пробне заняття</h3>
            <div class="direction__test-wrap">
                <p class="direction__test-info">Заповніть форму зворотнього зв’язку і ми Вам зателефонуємо </p>
                <button class="direction__test-btn">Записатися</button>
            </div>
        </div>
        <div class="direction__slider"></div>
    </div>

    <div class="direction__benefits">
        <div class="container">
            <div class="direction__benefits-wrap">
                <p class="direction__benefits-info">
                    Джаз-фанк — це напрямок, вивчаючи який дитина завжди буде у відмінній фізичній формі, адже, щоб
                    вправно
                    рухатися, потрібна значна підготовка та певні акробатичні вміння. Заняття танцями у цьому стилі
                    мають
                    низку переваг:
                </p>
                <ul class="direction__list">
                    <li class="direction__item">
                        <strong class="direction__item-title">Правильне сприйняття музики й ритму </strong>
                        <p class="direction__item-text">
                            Якщо дитині треба надолужити ці навички, допоможе наш досвідчений хореограф. Ми знаємо та
                            застосовуємо найбільш ефективні методики.
                        </p>
                    </li>
                    <li class="direction__item">
                        <strong class="direction__item-title">Впевненість у собі </strong>
                        <p class="direction__item-text">
                            Дитина відчуває власну силу, потенціал, розвиває сміливість, розуміє, що є унікальною,
                            отримує
                            максимум задоволення від тренувань та виступів. </p>
                    </li>
                    <li class="direction__item">
                        <strong class="direction__item-title">Пластичність </strong>
                        <p class="direction__item-text">
                            Цей танцювальний напрямок допомагає зробити рухи вільними та сміливими, позбутися тілесних
                            блоків, здобути хорошу розтяжку.
                        </p>
                    </li>
                    <li class="direction__item">
                        <strong class="direction__item-title">Робота над харизмою</strong>
                        <p class="direction__item-text">
                            Джаз-фанк — це не лише про танцювальну, а й про акторську майстерність
                        </p>
                    </li>
                    <li class="direction__item">
                        <strong class="direction__item-title">Зміцнене здоров’я </strong>
                        <p class="direction__item-text">
                            Систематичні заняття танцями підсилюють імунітет, зміцнюють серцево-судинну систему та
                            м’язовий
                            корсет, що підтримує здоров’я спини.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>