<section class="styles">
  <h2 class="styles__title">Чому обирають нас:</h2>
  <div class="swiper2">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="slide-content__black"></div>
          <div class="slide-content__yellow"></div>
          <div class="slide-content__img">
            <img src="img/styles/jazz-funk.png" alt="logo" />
            <p>jazz-funk</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="slide-content__black"></div>
          <div class="slide-content__yellow"></div>
          <div class="slide-content__img">
            <img src="img/styles/hip-hop.png" alt="logo" />
            <p>hip-hop</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="slide-content__black"></div>
          <div class="slide-content__yellow"></div>
          <div class="slide-content__img">
            <img src="img/styles/contemporary.png" alt="logo" />
            <p>contemporary</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="slide-content__black"></div>
          <div class="slide-content__yellow"></div>
          <div class="slide-content__img">
            <img src="img/styles/choreography.png" alt="logo" />
            <p>Choreography</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="slide-content__black"></div>
          <div class="slide-content__yellow"></div>
          <div class="slide-content__img">
            <img src="img/styles/modern-jazz.png" alt="logo" />
            <p>Modern Jazz</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination2"></div>
  </div>
</section>
