<section class="teachers">
    <div class="container">
        <div class="teachers__wrap">
            <h1 class="teachers__title">Викладачі:</h1>
            <ul class="teachers__list">
                <li class="teachers__item">
                    <div class="teachers__img">
                        <img src="../img/general/panchenko-nastia.png" alt="Анастасія Панченко фото">
                    </div>
                    <div class="teachers__info">
                        <div class="teachers__info-wrap">
                            <strong class="teachers__name">Анастасія Панченко</strong>
                            <p class="teachers__text">Основи хореографії</p>
                        </div>
                        <a href="#" class="teachers__link">
                            <img src="../img/icons/icon-arrow-link.svg" alt="arrow link image">
                        </a>
                    </div>
                </li>
                <li class="teachers__item">
                    <div class="teachers__img">
                        <img src="../img/general/pirhalo-ivan.png" alt="Іван Пирхало фото">
                    </div>
                    <div class="teachers__info">
                        <div class="teachers__info-wrap">
                            <strong class="teachers__name">Іван Пирхало</strong>
                            <p class="teachers__text">Hip-Hop</p>
                        </div>
                        <a href="#" class="teachers__link">
                            <img src="../img/icons/icon-arrow-link.svg" alt="arrow link image">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<div class="description">
    <div class="container">
        <div class="description__wrap">
            <p>
                Наші неймовірні викладачі танців - це серце та душа дитячої танцювальної студії A6 Satellite!
            </p>
            <p>
                З величезним досвідом, талантом і любов'ю вони вчать наших малюків не лише техніці танцю, а й важливим
                життєвим навичкам. Вони створюють дружню атмосферу, де кожен учень відчуває себе комфортно та
                підтримано.
            </p>
            <p>Наші вчителі - це справжні майстри, які вміють відкривати таланти та розкривати потенціал кожного дитини.
            </p>
        </div>
    </div>
</div>