<section class="view-more">
  <div class="view-bg"></div>
  <div class="container-view">
    <div class="view-content">
      <div class="view-content__img"></div>
      <div class="view-content__info">
        <h2 class="view-content__title">
          Дитяча танцювальна студія А6 Satellite
        </h2>
        <p class="view-content__subtitle">
          Вітаємо у дитячій студії сучасного танцю А6 Satellite!
        </p>
        <p class="view-content__text">
          Тут діти переконуються, що магія існує: майстерність викладачів у
          поєднанні з наполегливістю учнів перетворює перші нерішучі рухи на
          гармонійну композицію. Докладаючи зусилля, малеча розкриває природний
          потенціал.
        </p>
        <p class="view-content__text view-content__textM">
          Здобуваючи багато навичок, підопічні стають ближчими до мрії танцювати
          граційно й вправно та отримувати відзнаки за свої успіхи.
        </p>
        <a href="#" class="view-content__btn">
          <span>Дізнатись більше</span>
          <img src="img/icons/arrow-right.svg" alt="logo" />
        </a>
      </div>
    </div>
  </div>
</section>
