<section class="why">
  <h2 class="why__title">Чому обирають нас:</h2>
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="slide-content">
          <div><img src="img/why-us/1.png" alt="logo" /></div>
          <p>Танцювальні групи дітей від 2 років</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div><img src="img/why-us/2.png" alt="logo" /></div>
          <p>Кваліфіковані викладачі</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div><img src="img/why-us/3.png" alt="logo" /></div>
          <p>Різноманітні танцювальні стилі</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div><img src="img/why-us/4.png" alt="logo" /></div>
          <p>Постійна участь в фестивалях</p>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>
