@import '../core';

.about {
	padding-top: 112px;
	@include minw(1280px) {
		padding-top: 200px;
	}
	&__title {
		margin-bottom: 40px;
		font-weight: 500;
		font-size: 24px;
	}
	&__wrap {
		@include minw(1280px) {
			display: flex;
			gap: 24px;
		}
	}
	&__bg {
		@include minw($tablet) {
			max-width: 992px;
			max-height: 609px;
			width: 100%;
			margin: 0 auto;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&__text {
		position: relative;
		margin-bottom: 90px;
		padding: 16px 0;
		background-color: #fdd76e;
		@include maxw($tablet) {
			&:after {
				position: absolute;
				content: '';
				display: block;
				width: 120%;
				height: 100%;
				top: 0;
				left: -10%;
				background-color: #fdd76e;
				z-index: -1;
			}
		}
		@include minw($tablet) {
			background-color: transparent;
		}
		@include minw(1280px) {
			max-width: 411px;
		}
	}
	&__logo-icon {
		display: none;
		img {
			max-width: 181px;
		}
		@include minw($tablet) {
			display: block;
			flex-shrink: 0;
		}
	}
	&__text-wrap {
		display: flex;
		align-items: center;
		gap: 20px;
		@include minw(1280px) {
			flex-direction: column;
		}
		.about__text-content {
			padding-left: 10px;
			&:after {
				@include minw($tablet) {
					content: '';
					display: block;
					position: absolute;
					top: -777px;
					right: -110%;
					min-height: 1090px;
					width: 210%;

					background-color: #fdd76e;
					z-index: -1;
				}
				@include minw(1280px) {
					min-height: 941px;
					top: -450px;
					right: -150%;
					width: 300%;
				}
			}
		}
	}
	&__info {
		padding-bottom: 90px;
		@include minw(1280px) {
			padding-top: 70px;
		}
	}
	&__text-content {
		display: flex;
		flex-direction: column;
		gap: 20px;

		p {
			font-weight: 300;
			font-size: 18px;
			line-height: 140%;
		}
	}
	&__list {
		li {
			padding: 16px 16px 16px 75px;
			position: relative;
			border-bottom: 1px solid #898d92;
			&:before {
				top: 16px;
			}
			strong {
				font-weight: 500;
				font-size: 22px;
			}
		}
	}
	.direction__benefits {
		margin-bottom: 90px;
	}
	&__more {
		margin-bottom: 90px;
		.about__more-content {
			p {
				font-weight: 300;
				font-size: 18px;
				line-height: 140%;
			}
		}
	}
	&__more-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		@include minw(1280px) {
			flex-shrink: 0;
		}
	}
	&__more-container {
		@include minw($tablet) {
			display: flex;
			flex-direction: row-reverse;
			justify-content: center;
			align-items: stretch;
			gap: 20px;
		}
		.about__more-content {
			@include minw(1280px) {
                max-width: 519px;
				p {
					font-size: 22px;
				}
			}
		}
	}
	&__more-image {
		margin-bottom: 32px;
		max-width: 345px;
		width: 100%;
		@include minw($tablet) {
			height: 100%;
			margin-bottom: 0;
		}
		@include minw(1280px) {
			min-width: 695px;
			max-height: 619px;

			width: 100%;
			flex-shrink: 0;
		}
		&:before {
			position: absolute;
			top: 32px;
			left: 32px;
			content: '';
			display: block;
			max-width: 310px;
			max-height: 395px;
			width: 100%;
			height: 100%;
			background-color: #fdd76e;
			@include minw($tablet) {
				top: 25px;
				left: 25px;
				max-width: 359px;
				max-height: 506px;
			}
			@include minw(1280px) {
				max-width: 645px;
				max-height: 619px;
				top: 35px;
				left: 55px;
			}
		}
		img {
			display: block;
			height: auto;
			width: 100%;
			@include minw($tablet) {
				height: 100%;
				object-fit: cover;
			}
			@include minw(1280px) {
				min-width: 695px;
				max-height: 619px;
			}
		}
	}
	&__more-content {
		display: flex;
		flex-direction: column;
		gap: 24px;
		@include minw($tablet) {
			max-width: 383px;
		}
		@include minw(1280px) {
			max-width: none;
			gap: 37px;
			p {
				font-size: 22px;
			}
		}
	}
	&__more-slogan {
		padding: 60px 0;
		margin-bottom: 90px;
		background-color: #f5f5f5;
		.about__more-content {
			position: relative;
			padding: 40px 16px 40px 105px;
			margin-bottom: 0;
			border-bottom: 1px solid #898d92;
			@include minw(1280px) {
				padding: 55px 16px 55px 105px;
				max-width: fit-content;
				margin: 0 auto;
			}
			p {
				position: static;
				font-weight: 500;
				font-size: 22px;
				line-height: 140%;
				@include minw(1280px) {
					font-size: 28px;
				}

				&:before {
					position: absolute;
					top: 50%;
					left: 20px;
					content: '';
					display: block;
					width: 50px;
					height: 50px;
					background-image: url('../../img/icons/icon-ok.svg');
					background-repeat: no-repeat;
					background-position: center;
					transform: translateY(-50%);
				}
			}
		}
	}
	&__more-idea {
		margin-bottom: 197px;
		.about__more-content {
			p {
				font-weight: 300;
				font-size: 18px;
				line-height: 140%;
			}
		}
	}
}
