@import '../core';

.contacts {
	&__contact-title{
        margin-top: 60px;
        margin-bottom: 60px;
		font-weight: 500;
		font-size: 36px;
		text-align: center;
        @include maxw(1280px) {
            display: none;
        }
	}
	&-location {
		margin-top: 0;
		padding-top: 150px;
		background-color: #fff;
		@include minw($tablet) {
			&:before {
				display: none;
			}
		}
		@include minw(1280px) {
			margin-bottom: 230px;
		}
		h5 {
			color: black;
			margin-bottom: 44px;
			@include minw($tablet) {
				text-align: left;
				margin-bottom: 48px;
			}
		}
		.contacts__map-first {
			flex-direction: row;
			@include minw($tablet) {
				margin-bottom: 120px;
                &:before {
					content: '';
					width: 150%;
					height: 100%;
					background-color: #898d92;
					position: absolute;
					right: -55%;
				}
			}
		}
		.contacts__map-second {
			flex-direction: row-reverse;
            @include minw($tablet) {
                &:before {
					content: '';
					width: 150%;
					height: 100%;
					background-color: #898d92;
					position: absolute;
					left: -55%;
				}
            }
			@include minw(1280px) {
				flex-direction: row;
				&:before {
					right: -55%;
					left: auto;
				}
			}
		}
	}
	&__map-first {
		margin-bottom: 90px;
	}
	&__map-second {
		margin-bottom: 197px;
	}
	&__title {
		margin-bottom: 44px;
		font-weight: 500;
		font-size: 26px;
	}
	&__map-img {
		img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	&__link {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 18px;
		max-width: fit-content;
		display: flex;
		align-items: center;
		gap: 12px;
		text-decoration: none;
		background-color: #fdd76e;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		p {
			font-weight: 500;
			font-size: 20px;
		}
	}
	&__map-info {
		position: relative;
	}
	&__map-text {
		padding: 16px;
		background-color: #898d92;
		& * {
			font-weight: 500;
			font-size: 20px;
			color: #f9f3f3;
			text-decoration: none;
		}
	}
	&__map-adress,
	&__map-schedule {
		margin-bottom: 12px;
	}
	&__map-schedule span {
		display: block;
		margin-bottom: 4px;
		@include minw(1280px) {
			&:first-of-type {
				margin-bottom: 8px;
				font-size: 22px;
			}
			&:nth-last-of-type(2) {
				font-size: 28px;
			}
			&:last-of-type {
				font-size: 28px;
			}
		}
	}
	&__mail-phone {
		span,
		a {
			display: block;
		}
		span {
			margin-bottom: 8px;
		}
		a {
			margin-bottom: 12px;
			@include minw(1280px) {
				font-size: 28px;
			}
		}
	}
	&__link-second {
		right: 0;
		left: auto;
	}
}
