@import '../core';

.teacher {
	margin-bottom: 197px;
	padding: 40px 0;

	@include minw($lg-tablet) {
		margin-top: 60px;
		margin-bottom: 182px;
		padding: 80px 0;
	}
	@include minw($lg) {
		margin-top: 70px;
	}
	.container {
		max-width: 375px;
		@include minw($lg-tablet) {
			max-width: $lg-tablet;
		}
		@include minw($lg) {
			max-width: 1280px;
		}
	}
	.description {
		padding: 40px 0;
		margin-top: 0;
		margin-bottom: 90px;
		@include minw($lg-tablet) {
			display: none;
		}
	}
}
.profile {
	margin-top: 145px;
	margin-bottom: 122px;

	@include minw($lg-tablet) {
		margin-top: 47px;
	}
	@include minw($lg) {
		margin-top: 170px;
        margin-bottom: 216px;
	}
	&__inner {
		&:before {
			@include minw($lg) {
				width: 200%;
				height: 110%;
				position: absolute;
				top: -5%;
				left: -2%;
				content: '';
				display: block;
				background-color: #fdd76e;
				z-index: -1;
			}
		}
	}
	&__text {
		margin-top: 24px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		@include maxw($lg-tablet) {
			display: none;
		}

		p {
			font-weight: 400;
			font-size: 20px;
			line-height: 150%;
		}
	}
	&__info {
		padding: 62px 16px;
		background-color: #fff;
		max-width: 189px;
		@include minw($lg-tablet) {
			max-width: 425px;
		}
		@include minw($lg) {
			padding: 60px 30px;
			max-width: 519px;
		}
		h1 {
			margin-bottom: 16px;
			font-weight: 500;
			font-size: 22px;
			@include minw($lg) {
				margin-bottom: 24px;
				font-size: 36px;
			}
		}
		&:before {
			width: 100%;
			height: 110%;
			position: absolute;
			top: -5%;
			left: -30px;
			content: '';
			display: block;
			background-color: #fdd76e;
			z-index: -1;
			@include minw($lg-tablet) {
				height: 106%;
				top: -3%;
			}
			@include minw($lg) {
				display: none;
			}
		}
	}
	.dance__xp,
	.dance__teach,
	.dance__style {
		@include minw($lg-tablet) {
			display: flex;
			gap: 10px;
			justify-content: space-between;
		}
		p {
			margin-bottom: 8px;
			font-weight: 400;
			font-size: 16px;
			line-height: 1.1;
		}
		span {
			display: block;
			margin-bottom: 16px;
			font-weight: 500;
			font-size: 16px;
			text-align: right;
		}
	}
	.dance__social {
		margin-left: auto;
		position: relative;
		max-width: 121px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		border-bottom: 1px solid black;
		a {
			position: static;
			display: inline-block;
			text-decoration: none;
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background-color: transparent;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	&__out-img {
		position: absolute;
		top: -32px;
		right: 0;
		max-width: 220px;
		max-height: 495px;
		z-index: -1;
		@include minw($lg-tablet) {
			margin-top: -47px;
			max-width: 424px;
			width: 100%;
			min-height: 1033px;
			max-height: 1033px;
		}
		@include minw($lg) {
            top: -56px;
			max-width: 845px;
			max-height: 976px;
			min-height: 976px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include minw($lg-tablet) {
				max-width: 424px;
				width: 100%;
				min-height: 1033px;
				max-height: 1033px;
			}
			@include minw($lg) {
				max-width: 845px;
				min-height: 976px;
				max-height: 976px;
				object-position: top;
			}
		}
	}
}
