<section class="hero-main" id="hero-main">
  <div class="hero-bg">
    <div class="hero-bg__yellow"></div>
    <div class="hero-bg__img"></div>
  </div>
  <div class="container">
    <div class="hero-brand">
      <div class="hero-brand__logo"></div>
      <div class="hero-brand__name"></div>
    </div>
    <div class="hero-content">
      <p class="hero-content__title">Дитяча студія танцю</p>
      <p class="hero-content__subtitle">Запрошуємо дітей від 2 років</p>
      <button class="hero-content__btn">Записатися</button>
    </div>
  </div>
</section>
